img {
  display: block;
}

.img--100pct {
  width: 100%;
}

.navbar--green-background {
  background-color: rgb(32, 58, 36);
}

.navbar--with-shadow {
  -webkit-box-shadow: 10px 10px 70px -20px rgba(32,58,36,1);
  -moz-box-shadow: 10px 10px 70px -20px rgba(32,58,36,1);
  box-shadow: 10px 10px 70px -20px rgba(32,58,36,1);  
}

a.navbar-item {
  border-bottom: 4px solid transparent;
}

a.navbar-item.is-active {
  font-weight: bold;
  border-bottom: 4px solid white;
  background-color: #164f1b;
}

a.navbar-item:hover {
  /* #1B5E20 */
  /* #203A24 */
  background: rgba(27, 94, 32, 0.6); 
  border-bottom: 4px solid #164f1b;
}

.navbar-brand {
  font-size: 1.11rem;
  font-weight: bold;
}

/* CPHN */

.header--logo-txt {
  margin-left: 5px;
}

.title--cphn {
  font-family: 'Raleway', sans-serif;
  color: #1B5E20;
  font-weight: 800;
}
