@import url('https://fonts.googleapis.com/css?family=Raleway:800|Roboto|Work+Sans');

html,
body {
  font-family: 'Roboto', sans-serif;
  background: #F0F2F4;
}

.navbar.is-white {
  background: #F0F2F4;
}

.navbar-brand .brand-text {
  font-size: 1.11rem;
  font-weight: bold;
}

.articles {
  max-width: 960px;
  margin-top: 0;
  margin-bottom: 8rem;
}

@media (max-width: 1024px) {
  .articles {
    margin-top: -8rem;
  }
}

@media (max-width: 768px) {
  .articles {
    margin-top: -5rem;
  }
}

.articles .content p {
  line-height: 1.6;
  margin: 1rem 0;
}

.author-image {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .author-image {
    position: absolute;
    top: -40px;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    border-radius: 50%;
  }
}

.media-center {
  display: block;
  margin-bottom: 1rem;
}

.media-content {
  margin-top: 3rem;
}

.article,
.promo-block {
  margin-top: 6rem;
}

div.column.is-8:first-child {
  padding-top: 0;
  margin-top: 0;
}

.article-title {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 2;
}

.article-subtitle {
  color: #909AA0;
  margin-bottom: 3rem;
}

.article-body {
  line-height: 1.4;
  margin: 0 6rem;
}

@media (max-width: 768px) {
  .article-body {
    line-height: 1.4;
    margin: 0 0.6rem;
  }
}

.promo-block .container {
  margin: 1rem 5rem;
}

/* CPHN */

.header--logo-txt {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.title--cphn {
  font-family: "Raleway", sans-serif;
  color: #1B5E20;
}

.header--background {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 50rem;
  overflow: hidden;
}

.header--background img {
  margin: -30rem 0;
}

@media (max-width: 1024px) {
  .header--background img {
    margin: -15rem 0;
  }
}

@media (max-width: 768px) {
  .header--background img {
    margin: -13rem 0;
  }
}

.herbario--img {
  float: left;
  margin: 0.5rem 1rem 0 0;
}

.footer--centered {
  display: flex;
  justify-content: center;
  align-items: center
}

/* Bulma Carousel */

.carousel-nav-left,
.carousel-nav-right {
  cursor: pointer;
}
